* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Elements */
html {
  scroll-behavior: smooth;
}

a {
  color: var(--black);
  font-weight: 500;
}

body {
  background: var(--white);
  height: 100vh;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body,
input,
textarea,
button {
  font-family: var(--raleway);
}



@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


img {
  width: 100%;
  height: auto;
}

body,
input,
textarea,
button {
  font-family: var(--raleway);
}
