.btn {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 0.75rem 1rem;
}
.btn__login {
  border: 1px solid var(--blue);
  padding: 0.75rem 2.97rem;
}
.btn__produto {
  font-weight: 700;
  font-size: .9rem;
  color: var(--blue);
  cursor: pointer;
}

.btn__default {
  color: var(--white);
  background: var(--blue);
  cursor: pointer;
}

