.products__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem; /* 16px / 16px = 1rem  */
}

.products__title {
  color: var(--black);
}

.products__title--light {
  font-weight: 500;
}
.products__price--bold {
  font-weight: 700;
}

.products__icon {
  font-weight: 700;
  color: var(--blue);
}

.products__icon--arrow {
  width: 12px;
}

.products__card {
  display: grid;
  gap: 8px;
  overflow: hidden;
}
.products__card img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.products__card img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}